body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
     width: 100%;
    height: auto;
}

header {
  background-color: #D1CCC5;
  color: #000000;
  padding: 20px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
 width: auto;
height: 35%;
display: flex;
justify-content: center;
align-items: center;
}

nav {
    background-color: #D1CCC5;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    padding: 10px;
}

li a {
    color: #000000;
    text-decoration: none;
    font-size: 24px;
}

li a:hover {
    background-color: #5D5C5A;
    
}
main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: #D1CCC5;
  color: #000000;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
